<h1>FAQ</h1>

<p class="fw-bold">When will this game be done?</p>
<p>I am working deligently to get my vision created as soon as possible!</p><p></p>

<p class="fw-bold">How can I help?</p>
<p>Provide feedback, donate via Patreon, or if you can create digital assets or code, and reach out to redwizardshat@gmail.com</p><p></p>

<p class="fw-bold">How does my character move?</p>
<p>Your character moves by moving in real life. Go for a walk and watch your character move with you around the world!</p><p></p>


<p class="fw-bold">Will it be only android?</p>
<p>To start it will be for only android. Soon as I get access to a Mac I will get it out for iOS.</p><p></p>


<p class="fw-bold">How much will the game cost?</p>
<p>It will be free with the option to buy in-game items.</p><p></p>


<p class="fw-bold">What languages will be supported?</p>
<p>Originally only English, then as the game develops more languages will be added</p><p></p>


