<h1>Game Ideology</h1>
<p></p>
<p>At Red Wizards Hat we want to bring joy to people. That simpile. We want to make people smile. Give people a purpose through the day, even if it is imaginary. The world is 
    limited by our world,technology, and fundamental rules of the universe. In a game world we can change all that. We want to bring our imagination to life.</p>

<p>-Red Wizards Hat Dev Team</p>
