@model RedWizardsHatWeb.Models.ViewModel.IndexVM
<h1 class="text-center">Magical World</h1>
<p></p>

<div class="card border text-white bg-primary mb-3">
    <div class="card-body border">
        <p class="card-text text-center">Welcome to a world that people now call Earza. The hadron collider opened holes to another universe. This universes magic bled through and ripped away our technology. It made our knowledge and items vanish completely. It forced our world to a new Dark Age. All that is left are broken roads and falling down structures. Old Parks have become havens for all kinds of monsters. From the holes created came new animals and monsters that never before existed! The monsters have devastated everything in their path. A cry for valiant heroes went out. You have answered that call! The world is starting to rebuild, and you will lead the charge!</p>
    </div>
</div>

<!--Put cover photo image here-->

<div class="card border text-white bg-primary mb-3">
    <div class="card-body border">
        <p class="card-text text-center">Be the fantasy hero you only dreamed of! This is a Location based game! This means you will interact with our current real world in a new and exciting way! Choose a class, lvl up your hero, learn incredible skills, fight terrible monsters, find loot, take over land, protect it yourself or with the help of your guild, find resources make better equipment, and setup trade routes to find resources. Fight legendary boss creatures on their turf, or protect your own from invasions!</p>
    </div>

</div>
<!-- news -->
<!--screen shots-->
<!-- back to top-->
<!--
<div class="text-center">
    <a href="https://play.google.com/store/apps/details?id=com.SeanMurray.Side_Quest"><img src="~/images/google-play-badge.png" alt="Download From Google Play" height="100"/></a>
</div>
    -->
