<p>The following list is the features that I would like to see included currently. Its subject to change and won't include all functionality.</p>


<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Flesh out weapon and armor creation
    </li>
     <li class="list-group-item d-flex justify-content-between align-items-center">
        Flesh out resources
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
       Finalized other items
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Finialize Buildings
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Teleportation recall
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Increase enemy variety
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Quest Lines
    </li>   
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Balance Skills/Enemies
    </li>
</ul>

