<h1>News</h1>


<div class="container">
    <div class="row pb-4 backgroundWhite">
        <div class="container backgroundWhite pb-4">

            <!--Second News-->
            <!--
            <div class="card border text-white bg-primary mb-3">
                <div class="card-header"><a class="navbar-text link-info" asp-controller="News" asp-action="Site_Creation">Header</a></div>
                <div class="card-body">
                    <p class="card-text">Second News</p>
                </div>
            </div>
                -->
            <!--First News-->
            <div class="card border text-white bg-primary mb-3">
                <div class="card-header"><a class="navbar-text link-info" asp-controller="News">Sept 10, 2022</a></div>
                <div class="card-body">
                    <p class="card-text">I began implementing markers in the web service side. This will allow a user to telport to a certain area that they have marked in the past. All done via a spell, and currently they will need to have a teleportation building. Its been implemented but still needs testing.</p>
                </div>
            </div>
            <div class="card border text-white bg-primary mb-3">
                <div class="card-header"><a class="navbar-text link-info" asp-controller="News">Sept 5, 2022</a></div>
                <div class="card-body">
                    <p class="card-text">I created a patreon located: <a class="link-info" href="https://www.patreon.com/magicalworldapp">here!</a></p>
                </div>
            </div>
            <div class="card border text-white bg-primary mb-3">
                <div class="card-header"><a class="navbar-text link-info" asp-controller="News">~August 30, 2022</a></div>
                <div class="card-body">
                    <p class="card-text">I forgot to keep this up to date! Whoops! With gaining knowledge on 3d objects I went and ordered a 3d wizard! He looks awesome! I will need to update this site for it. I have started converting the font styles, and backgrounds from pixelated, to more modern look. </p>
                </div>
            </div>
            <div class="card border text-white bg-primary mb-3">
                <div class="card-header"><a class="navbar-text link-info" asp-controller="News">August 14, 2022</a></div>
                <div class="card-body">
                    <p class="card-text">Through June I decided to dive intro training and learning how to create a tower defense game in Unity. This opened my eyes more to 3d objects, animations, effects, and rekindled my spirt. </p>
                </div>
            </div>
            <div class="card border text-white bg-primary mb-3">
                <div class="card-header"><a class="navbar-text link-info" asp-controller="News">June 6, 2022</a></div>
                <div class="card-body">
                    <p class="card-text">Got married, went on a honeymoon and caught covid so took a bit of break on development. Now I am reoganizing notes and what to address next. Gearing up for next stage of development. Going to go hard this summer and I am pumped! </p>
                </div>
            </div>
            <div class="card border text-white bg-primary mb-3">
                <div class="card-header"><a class="navbar-text link-info" asp-controller="News">May 11, 2022</a></div>
                <div class="card-body">
                    <p class="card-text">Got Https working for the website!</p>
                </div>
            </div>
             <div class="card border text-white bg-primary mb-3">
                <div class="card-header"><a class="navbar-text link-info" asp-controller="News">May 6, 2022</a></div>
                <div class="card-body">
                    <p class="card-text">Created spell foundry in the api's to be able to sell spells. Also setup to regenerate inventory of spells. </p>
                </div>
            </div>
            <div class="card border text-white bg-primary mb-3">
                <div class="card-header"><a class="navbar-text link-info" asp-controller="News">May 5, 2022</a></div>
                <div class="card-body">
                    <p class="card-text">Still looking into ssl on website</p>
                </div>
            </div>
            <div class="card border text-white bg-primary mb-3">
                <div class="card-header"><a class="navbar-text link-info" asp-controller="News">May 3, 2022</a></div>
                <div class="card-body">
                    <p class="card-text">Fixed being able to upload this site to you all! Updated the consumables name generation and added some unit tests.</p>
                </div>
            </div>
             <div class="card border text-white bg-primary mb-3">
                <div class="card-header"><a class="navbar-text link-info" asp-controller="News">May 2, 2022</a></div>
                <div class="card-body">
                    <p class="card-text">Fixed naming with items that have camelCase enums, made it so generic quest items aren't generated as a random item. Corrected weapon and armor power generation Started building up consumables like potions. Need to flesh them out more and test more.   </p>
                </div>
            </div>
            <div class="card border text-white bg-primary mb-3">
                <div class="card-header"><a class="navbar-text link-info" asp-controller="News">April 30, 2022</a></div>
                <div class="card-body">
                    <p class="card-text">So I set up this page but didn't use it, which was a fault of mine. I know there is a huge gap but there has been a lot of changes. Everythig built previously was to make sure it was possible! Now the fun part comes for flushing everything out! First was world building. Developing the back story, how spells work, why there is a conflict and so on. There is so much more to think through here and I am so excited to go through this! Along the way I the major change is developing random items. The last thing I worked on was fleshing out items. Starting with armor and weapons and how to randomly generate them based on your level and monster. Still a bit more work to go but I am loving the task.    </p>
                </div>
            </div>  
            <div class="card border text-white bg-primary mb-3">
                <div class="card-header"><a class="navbar-text link-info" asp-controller="News" asp-action="Site_Creation">July 8, 2021</a></div>
                <div class="card-body">
                    <p class="card-text">The news site was created.</p>
                </div>
            </div>        
        </div>
    </div>
</div>
