<h1>July 8, 2021</h1>
<p>This website was created to begin posting information about our first major game Magical World. We are excited to get it out to you, but first we need to flush it out more.</p>

